
html,
body
{
  //Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
  height: 100%;
  min-height: 100%;

}


.sticky-footer {

  display: flex;
  flex-direction: column;

  #content{
    flex: 1 0 auto;
  }

  #header,
  #footer{
    flex: none;
  }

}