extends layout/base

block vars

    -
        page = {title:'Players : DesignContest'}
        navFooter = {'Help':'/', 'Contact Us':'/','Our Team':'/'}
        logo = {company:'DesignContest', since:'since 2003', slogan:'custom graphic design done affordably'}


block header
    include layout/header

block content
    include layout/content

block footer
    include layout/footer